@import 'bootstrap/scss/bootstrap';


body {
    background-color: #f0eee3;
    color: rgba(0, 0, 0, 0.89);
}

.navbar {
    background-color: #ff1313;
}

.carousel-control-prev-icon {
    height: 15vw;
    width: 15vw;  
}

.carousel-control-next-icon {
    height: 15vw;
    width: 15vw;  
}

.btn-dark {
    --bs-btn-bg: #340701;
}

.card {
 
  background-color: #fff8f1;
}

.cast {
  background-color: #fff;

}

.carousel-img {
  border-radius: 1%;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #0c329b 0%,
    #fd5c5c 29%,
    #ff1313 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /*text-fill-color: transparent;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
      font-size: 120px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}